<div *ngIf="quest.currentStep.step === QuestStep.START_1">
    <p class="lore" i18n>
        After days of travel, you arrive near a forest. Not a house or tower in sight.<br>
        Good.<br>
        This will be a good place to begin your research, for what you need is a wild and unspoiled land, devoid of civilization.<br>
        One week ago, you decided to leave your old life and start an ambitious project, with only the grimoire given to you by your parens.
        A grimoire on all things magical! During the trip, you tried to read some page at random, but nothing made sense.<br>
        Your parens had warned you though, that to understand what was written, you would need to understand magic itself. They told you that 
        the best place are uninhabited lands, where the magic aura is rich and powerful.
        <br><br><br>
        <a (click)="advance()">Next...</a>
    </p>

</div>
<div *ngIf="quest.currentStep.step === QuestStep.START_2">
    <p class="lore" i18n>
        This land may be be perfect, but to work in good conditions you first need a laboratory.
        You remember what your parens said: "Places of power is what you must seek. If you open your eyes, they will reveal themselves to you."<br><br>
        <a (click)="advance('FOREST')">
            You find a giant tree in the forest, with enough space under its root to fit your laboratory.
        </a><br><br>
        <a (click)="advance('WATER')">
            Following the noise, you stumble upon a waterfall where strange colors come and go in the sunlight.
            With some wood and work, you could make a shelter under the nearby rocks, big enough to fit your laboratory.
        </a><br><br>
        <a (click)="advance('CAVE')">
            You notice a dark hole on the side of a small hill, a cave! You expect the inside to be dark, but it is lit up with many crystal clusters reflecting the outside light.
            The cave is big enough to fit your laboratory.
        </a><br><br>
    </p>

</div>