<div *ngIf="city" class="info-box">
    <h3 *ngIf="city.nation">{{city.name}} of Nation {{city.nation.name}} [{{city.position.x}},{{city.position.y}}]
        <span *ngIf="city.port">Has a port [{{city.port.x}},{{city.port.y}}]</span>
        Population {{city.population}} [{{getMag()}}] (growth = {{city.growth * 10}}%) | Access {{city.access}} | Stability {{city.stability}} |
    </h3>
    <div>
        Roads to <span *ngFor="let r of city.roads">{{r.to.name}}//</span>
    </div>
    <div *ngIf="city.industries">
        <div >Industries:<br>
            <table>
                <tr>
                    <td *ngFor="let i of city.industries">
                        {{getIndustry(i).name}}
                    </td>
                </tr>
            </table>
        </div>
        <div >
            Resources:<br>
            <table>
                <tr >
                    <th>Resource</th>
                    <th *ngFor="let r of res">
                        {{getResourceName(r)}}
                    </th>
                </tr>
                <tr >
                    <th>Stock</th>
                    <td *ngFor="let r of res">
                        {{city.resources.get(r)}}
                    </td>
                </tr>
                <tr >
                    <th>Production</th>
                    <td *ngFor="let r of res">
                        {{city.production.get(r)}}
                    </td>
                </tr>
                <tr >
                    <th>Demand</th>
                    <td *ngFor="let r of res">
                        {{city.needs.get(r)}}
                    </td>
                </tr>
                <tr >
                    <th>Provided</th>
                    <td *ngFor="let r of res" [class.danger]="city.deficits.get(r) > 0">
                        <span *ngIf="city.needs.get(r) !== undefined">{{city.needs.get(r) - city.deficits.get(r)}}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>