<div class="row middle-lg">
    <div class="col-xs-12 col-lg-3">
            <div class="row">
                    <div class="col-lg-12">
                        <app-vis></app-vis>
                    </div>
                    <div class="col-lg-12">
                        <app-vis></app-vis>
                    </div>
            </div>
    </div>
    <div class="col-xs-12 col-lg-6">
        <ng-container *ngIf="!quest1Complete()">
            <app-quest1></app-quest1>
        </ng-container>
        
        <ng-container *ngIf="quest1Complete()">
            <app-lab></app-lab>
            <app-log></app-log>
        </ng-container>
    </div>
    <div class="col-xs-12 col-lg-3">
        <ng-container *ngIf="quest1Complete()">
            <app-journal></app-journal>
        </ng-container>
    </div>
</div>