<div class="main">
  <div id="menu">
    <label [class.disabled]="!draw.showBiomes">Show Biomes</label>
    <input [checked]="draw.showBiomes" type="checkbox" id="showBiomes" (change)="showBiomes($event.currentTarget.checked)">&nbsp;&nbsp;
    <label [class.disabled]="!draw.showAltitude">Show Altitude</label>
    <input [checked]="draw.showAltitude" type="checkbox" id="showAltitude" (change)="showAltitude($event.currentTarget.checked)">&nbsp;&nbsp;
    <label [class.disabled]="!draw.showCities">Show Cities</label>
    <input [checked]="draw.showCities" type="checkbox" id="showCities" (change)="showCities($event.currentTarget.checked)">&nbsp;&nbsp;
    <label [class.disabled]="!draw.showRoads">Show Roads</label>
    <input [checked]="draw.showRoads" type="checkbox" id="showRoads" (change)="showRoads($event.currentTarget.checked)">&nbsp;&nbsp;
    <label [class.disabled]="!draw.showRegions">Show Regions</label>
    <input [checked]="draw.showRegions" type="checkbox" id="showRegions" (change)="showRegions($event.currentTarget.checked)">&nbsp;&nbsp;
    <label [class.disabled]="!draw.showNations">Show Nations</label>
    <input [checked]="draw.showNations" type="checkbox" id="showNations" (change)="showNations($event.currentTarget.checked)">&nbsp;&nbsp;
    <label [class.disabled]="!draw.showNations">Show Trade routes</label>
  </div>
  <div id = "map">
  </div>
  <div *ngIf="log.length > 0" id="log-panel">
    <div *ngFor="let l of log">{{l}}</div>
  </div>
  <div *ngIf="world && world.cities" id="info-panel">
    <app-info *ngFor="let c of world.cities" [city]="c"></app-info>
  </div>
</div>