
.vis-container {
    width: 400px;
    height: 420px;
}
.decagon {
    position: relative;

    .decagon-rect-1, .decagon-rect-2, .decagon-rect-3, .decagon-rect-4, .decagon-rect-5 {
        position: absolute;
        width: 324px;
        height: 104px;
        border: 2px solid #892be280;
        box-shadow: 0 0 20px 3px #892be280;
        top: 162px;
        left: 30px;
    }
    .decagon-rect-1 {
        transform: rotate(36deg);
    }
    .decagon-rect-2 {
        transform: rotate(72deg);
    }
    .decagon-rect-3 {
        transform: rotate(108deg);
    }
    .decagon-rect-4 {
        transform: rotate(144deg);
    }
    
    .pentagon-rect-1, .pentagon-rect-2, .pentagon-rect-3, .pentagon-rect-4, .pentagon-rect-5 {
        position: absolute;
        left: 140px;
        top: 174px;
        width: 106px;
        height: 81px;
        border-right: 2px solid red;
    }
    .pentagon-rect-1 {
        transform: rotate(90deg);
    }
    .pentagon-rect-2 {
        transform: rotate(162deg);
    }
    .pentagon-rect-3 {
        transform: rotate(234deg);
    }
    .pentagon-rect-4 {
        transform: rotate(306deg);
    }
    .pentagon-rect-5 {
        transform: rotate(18deg);
    }
}



@keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
.vis-count {
    font-size: 30px;
    text-align: center;
}
.vis-count-name {
    font-size: 15px;
    position: absolute;
    top: -15px;
    left: 0px;
    width: 60px;
}
.vis-count.spinning::after {
    content: "";
    width: 60px;
    height: 60px;
    border: 2px dashed white;
    border-radius: 40px;
    display: block;
    margin-top: -54px;
    animation: rotating 8s linear infinite;
    background-color: #fff2;
    box-shadow: 0 0 3px 3px #fff3;
}
.vis-count::after {
    content: "";
    width: 60px;
    height: 60px;
    border: 2px dashed #fff0;
    border-radius: 40px;
    display: block;
    margin-top: -54px;
    background-color: #fff2;
    box-shadow: 0 0 3px 3px #fff3;
}

.creo {
    position: absolute;
    top: 170px;
    left: 98px;
}
.perdo {
    position: absolute;
    top: 170px;
    left: 224px;
}
.rego {
    position: absolute;
    top: 130px;
    left: 162px;
}
.muto {
    position: absolute;
    top: 250px;
    left: 123px;
}
.intellego {
    position: absolute;
    top: 250px;
    left: 200px;
}
.vim {
    position: absolute;
    top: 30px;
    left: 162px;
}
.aquam {
    position: absolute;
    top: 140px;
    left: 1px;
}
.terram {
    position: absolute;
    top: 330px;
    left: 63px;
}
.ignem {
    position: absolute;
    top: 140px;
    left: 325px;
}
.auram {
    position: absolute;
    top: 340px;
    left: 261px;
}
.herbam {
    position: absolute;
    top: 250px;
    left: 1px;
}
.corpus {
    position: absolute;
    top: 60px;
    left: 263px;
}
.animal {
    position: absolute;
    top: 363px;
    left: 162px;
}
.mentem {
    position: absolute;
    top: 250px;
    left: 325px;
}
.imaginem {
    position: absolute;
    top: 60px;
    left: 62px;
}