<div class="vis-container">
    <div class="decagon" >
        <ng-container *ngIf="unlocks.formAccess()">
            <span class="decagon-rect-1"></span>
            <span class="decagon-rect-2"></span>
            <span class="decagon-rect-3"></span>
            <span class="decagon-rect-4"></span>
            <span class="decagon-rect-5"></span>
        </ng-container>
        <ng-container *ngIf="unlocks.verbAccess()">
            <span class="pentagon-rect-1"></span>
            <span class="pentagon-rect-2"></span>
            <span class="pentagon-rect-3"></span>
            <span class="pentagon-rect-4"></span>
            <span class="pentagon-rect-5"></span>
        </ng-container>

        <ng-container *ngFor="let v of allVis">
                
                <span *ngIf="unlocks[v + 'Access']" [className]="v + ' vis-count'" [class.spinning]="productions[v]">{{vis[v]}}
                        <span *ngIf="unlocks[v + 'Access']" class="vis-count-name" >{{v}}</span>
                </span>
        </ng-container>
    </div>
</div>
