/* You can add global styles to this file, and also import other style files */

html {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.danger {
    color: red;
}

#map {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#gen-button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}
#info-panel {
    position: absolute;
    right: 5px;
    top: 0px;
    width: 500px;
    height: 100%;
    overflow-y: scroll;
    background-color: #fffa;

    table {
        border-collapse: collapse;
      }
      
      table, th, td {
        border: 1px solid grey;
      }
      th {
          background-color: #bbb;
      }

    .info-box {
        padding: 2px;
        border: 1px solid grey;
        margin-bottom: 5px;
    }

    ul {
        margin: 0px;
        list-style: none;
        li:before {
            content: "\203A"
        }
    }

    .half-info {
        display: inline-block;
        width: 48%;
    }
}

.disabled {
    color: #bbb;
}